.menu {
    width: 80px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  
  .logoContainer {
    margin-bottom: 2rem;
  }
  
  .logo {
    width: 40px;
    height: auto;
  }
  
  .menuList {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menuList li {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .icon {
    color: #fff;
    font-size: 1.5rem;
    display: block;
  }
  
  .menuList li a {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 0;
  }
  
  .menuList li a:hover {
    background-color: #555;
    border-radius: 8px;
  }

  .logoutButton{
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-top: 70px;
  }
 
  .logoutButton:hover{
    background-color: transparent;
    border: 2px solid #f37373;
    background-color: #555;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-top: 70px;
  }
 
 
  .iconCenter{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  /* Responsividade */
  @media (max-width: 768px) {
    .menu {
      width: 60px;
    }
  
    .icon {
      font-size: 1.2rem;
    }
  }
  