.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 10px; 
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Reduzimos a largura máxima do card */
    max-height: 80vh; /* Ajuste de altura para caber na viewport */
    overflow: hidden; /* Evita que o card principal tenha rolagem */
    margin: 0 auto; /* Centraliza o card horizontalmente */
    /* position: relative; */
  }
  
  h2 {
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
    font-size: 1.5rem;
  }
  
  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
  }
  
  .filter {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 200px; /* Ajusta a largura dos filtros para caber no card menor */
  }
  
  .filter label {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.5rem;
  }
  
  .filter input,
  .filter select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  .dataPreview {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    max-height: 200px; /* Limita a altura da área de visualização de dados */
    overflow-y: auto; /* Adiciona rolagem vertical apenas à área de dados */
  }
  
  .dataPreview h3 {
    font-size: 1rem;
    color: #444;
    margin-bottom: 0.5rem;
  }
  
  .dataPreview ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dataPreview li {
    font-size: 0.9rem;
    color: #666;
  }
  
  .downloadButton {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    background-color: #af4c4c;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .downloadButton:hover {
    background-color: #45a049;
  }
  